# Ignore everything
*

# Whitelist stuff
!assets/
!tailwind.config.js
!docker/
!bin/console
!public/
!config/
!src/
!templates/
!gifs.json
!episodes.json
!redirection.json
!composer.json
!composer.lock
