version: '3.7'

services:
  app:
    # use http://localhost:4242
    ports:
      - 4242:8080
    # set php to run with given userid and groupid
    environment:
      - PHP_USER=1000
      - PHP_GROUP=1000
