h1 {
    font-size: 25px;
}

.characters {
    display: none;
}

.li-gif {
    width: 95%;
}

.square_btn {
    width: 90%;
}

.single-gif {
    width: 95%;
}

.copy-input {
    display: none;
}

.copy-block-divider {
    display: none !important;
}

.copy-block-other {
    margin-top: 10px;
}

.tooltip-text {
    display: none;
}

.input-quote {
    width: 90%;
}

.quote-block h2 {
    font-size: 13px;
}

.quote-block {
    max-width: 75%;
    font-style: italic;
    padding: 15px 20px 15px 30px;
    margin: 5px auto 20px auto;
    border-left: 4px solid #45516b;
}

.quote-block::before {
    font-size: 3em;
    top: 0;
}

.quote {
    font-size: 15px;
}

.slideshow_button {
    position: absolute;
    top: 40%;
    display: block;
    vertical-align: middle;
}

.left_none {
    left: -5px;
}

.right_none {
    right: -5px;
}

.slideshow_gif {
    margin: 0 auto;
}

.footer-boxes {
    padding: 0 0 20px 0;
}
