@import url("https://fonts.googleapis.com/css?family=Inter");

.body {
    background-color: #2e3139;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin: 0;
}

h1 {
    font-size: 45px;
    text-shadow: 4px 4px 4px #070707;
}

a {
    color: white;
}

.no-style {
    text-decoration: none;
    color: white;
}

.banner {
    text-align: center;
}

.main {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    display: block;
    text-align: center;
}

.footer {
    width: 100%;
    margin: 20px auto 0 auto;
    padding: 40px 0 40px 0;
    display: block;
    text-align: center;
    background-color: #3e4654;
}

.characters {
    width: 80%;
    margin: auto auto 40px auto;
}

.character-icon {
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
}

.character-gray-filter {
    filter: grayscale(80%);
}

.character-icon-quote {
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
}

.icon-dark-shadow {
    -webkit-box-shadow: 11px 10px 7px -8px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 11px 10px 7px -8px rgba(0, 0, 0, 0.50);
    box-shadow: 11px 10px 7px -8px rgba(0, 0, 0, 0.50);
}

.icon-light-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
}

.input-block {
    text-align: center;
    width: 95%;
    margin: 0 auto 30px auto;
    position: relative;
    display: block;
}

.input-quote {
    padding-left: 10px;
    line-height: 30px;
    border: none;
    width: 50%;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #3e4654;
    color: #C6C6C6;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.input-quote::placeholder {
    color: #c6c6c6;
}

.search-quote {
    padding: 0 10px 0 10px;
    line-height: 32px;
    outline: none;
    background: #45516b;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: absolute;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -35px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.square_btn {
    cursor: pointer;
    width: 310px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #45516b;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.square_btn:hover {
    background: #57627a;
}

.square_btn:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.copy-input {
    height: 33px;
    width: 298px;
    outline: none;
    border: 0;
    position: absolute;
    top: 0;
    left: 92px;
    padding-left: 10px;
}

.copy-block-mobile {
    display: none;
}

.copy-block {
    width: 500px;
    height: 50px;
    margin: 20px auto;
    position: relative;
}

.copy-caption {
    position: absolute;
    top: 40px;
    left: 92px;
    font-size: 10px;
}

.copy-title {
    text-align: left;
    line-height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 90px;
}

.copy-btn {
    background-color: #45516b;
    padding: 9px;
    width: 80px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-weight: bold;
}

.copy-btn:active {
    user-select: none;
    background-color: #3e4b64;
}

ul {
    padding: 0;
}

.li-gif {
    display: inline-block;
    width: 350px;
    margin-bottom: 12px;
    vertical-align: top;
}

#notification {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    line-height: 40px;
    text-align: center;
    background: #679867;
    font-weight: bold;
    z-index: 100;
}

.quote {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    text-shadow: 2px 2px 2px #070707;
}

.quote-characters {
    margin-bottom: 20px;
}

.quote-character-block {
    display: inline-block;
    padding: 0 10px 0 10px;
}

.quote-block h2 {
    font-size: 18px;
}

.quote-block {
    max-width: 40%;
    display: inline-block;
    margin: 5px auto 30px auto;
    font-style: italic;
    padding: 15px 20px 15px 45px;
    border-left: 8px solid #45516b;
    position: relative;
    background: #292b31;
    color: white;
}

.quote-block::before {
    font-family: Arial, serif;
    content: "\201C";
    color: #45516b;
    font-size: 5em;
    position: absolute;
    left: 5px;
    top: -5px;
}

.slideshow {
    margin-bottom: 20px;
    position: relative;
}

.slideshow_button {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.4;
    outline: none;
}

.slideshow_gif {
    margin: 0 40px 0 40px;
    display: inline-block;
    vertical-align: middle;
}

/* ================================= */

.modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(26, 26, 26);
    background-color: rgba(26, 26, 26, 0.4);
}

.modal-content {
    border-radius: 15px;
    background-color: #2e3139;
    margin: auto;
    width: 90%;
    max-width: 550px;
    position: relative;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

#modal-quote {
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#modal-quote a {
    text-decoration: none;
}

.modal-gif {
    padding: 20px;
    border-top: 3px solid #202530;
}

.modal-gif img {
    max-width: 90%;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content textarea {
    background: #45516b;
    color: white;
    width: 90%;
    text-align: center;
    border: 1px solid #2f3647;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    outline: none;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 15px;
}

.modal-close:hover,
.modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
