<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <title>{% block title %}Kaamelott Gifboard{% endblock %}</title>

        <meta itemprop="name" content="Kaamelott Gifboard">
        <meta itemprop="description" content="">
        <meta itemprop="image" content="">

        <meta property="og:url" content="">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Kaamelott Gifboard">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta property="og:site_name" content="Kaamelott Gifboard">
        <meta property="og:locale" content="fr_FR">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
    </head>
    <body class="body">
        <div>
            <div id="banner" class="banner">
                <h1><a href="{{ path('search_index') }}" class="no-style">Kaamelott Gifboard</a></h1>
            </div>
            <div id="main" class="main">
                {% block body %}{% endblock %}
            </div>
            <div id="footer" class="footer">
                Elle est où la poulette ?™ - {{ "now"|date("Y") }}<br /><br />
                <a href="https://github.com/kaamelott-gifboard/kaamelott-gifboard.github.io" target="_blank">
                    Il manque un gif ? Ajoutez-le !
                </a>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
