{% extends 'base.html.twig' %}

{% block body %}
    Oups ! On a pas trouvé la poulette.<br /><br />
    <img src="{{ url('gif_image', { filename: 'elle-est-ou-la-poulette.gif' }) }}" /><br /><br />
    <a href="/">Retour</a>
{% endblock %}
